body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
    text-align: center;
}

#clk {
    font-size: 100px;

}

.bgImg {

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

